@model Jarchim.Models.mAdImg
@{
    Jarchim.Models.database.JarchimDb JarchimDb = new Jarchim.Models.database.JarchimDb();
    Layout = "~/Views/Shared/_MLayout.cshtml";
}
<section class="content-header">
 <h1>
ویرایش تصویر
  </h1>
</section>
<!-- Content Header (Page header) -->
@using (Html.BeginForm("Edit", "mAdImg", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
{
 if (ViewBag.error != null)
 {
  <div class="col-md-8 form-group" style="margin-top:30px;margin-right:3px;">
   <div class="alert alert-dismissable alert-danger">
    @ViewBag.error
   </div>
  </div>
 }
 <!-- Main content -->
 <section class="content">
  <div class="row">
   <!-- right column -->
   <div class="col-md-12">
    <!-- Horizontal Form -->
    <div class="box box-info">
     <!-- form start -->
     <form class="form-horizontal">
      <div class="box-body">
          @Html.TextBoxFor(model => model.ad_id, new { @type = "hidden" })
          @Html.TextBoxFor(model => model.img_id, new { @type = "hidden" })
          <div class="form-group">
              <input type="hidden" name="ad_img" id="ad_img" value="@Model.ad_img" />
              <label class="col-sm-2 control-label" for="img_file">تصویر:</label>
              <div class="col-sm-2">
                  <img src="~/images/ads/@Model.ad_img" width="70" height="70" />
              </div>
              <div class="col-sm-6">
                  <input type="file" name="img_file" id="" value="@Model.ad_img" />
              </div>
          </div>
       <div class="form-group">
        <label class="col-sm-2 control-label" for="ad_img_title">عنوان : </label>
        <div class="col-sm-6">
         @Html.TextBoxFor(model => model.ad_img_title, new { @placeholder = "عنوان", @class = "form-control force" })
        </div>
       </div>
          @*<div class="form-group">
              <label class="col-sm-2 control-label" for="ad_id">آگهی :</label>
              <div class="col-sm-4">
                  @{
                      var qAd = from n in JarchimDb.tbl_ad
                                select n;
                  }
                  <select class="form-control select2" id="ad_id" name="ad_id">
                      <option value="0">همه</option>
                      @foreach (var vAd in qAd)
                      {
                          <option @if (vAd.ad_id == Model.img_id) {@:selected
                                  } value="@vAd.ad_id">
                      @vAd.ad_name
                          </option>
                      }

                  </select>
              </div>
          </div>*@

      </div>
      <!-- /.box-body -->
      <div class="box-footer">
       <button type="submit" class="btn btn-info pull-right sub_validation">ویرایش</button>
      </div>
      <!-- /.box-footer -->
     </form>
    </div>
    <!-- /.box -->
   </div>
   <!--/.col (right) -->
  </div>
  <!-- /.row -->
 </section>
        <!-- /.content -->
}
